/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", sans-serif;
    --accent-font: "PressStart2P", fantasy;
    --text-font-weight: 400;
    --title-font-weight: 700;
    --themes-background: #fff;
    --themes-main-color: #000;
    --bg: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --container-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --color-heart: #ff0000;
    --color-contour-heart: #000;
    --color-text-button: #fff;
  }